body {
    padding-top: 69px;
}

.navbar-header a.navbar-brand h6 {
    color: #ccc;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

footer p {
    border-top: 1px dotted #262626;
}

.navbar-form .form-group {
    margin-left: 10px;
}

.navbar-form button {
    margin-left: 10px;
}

.top-padding-med {
    padding-top: 10px;
}

.margin-left-med {
    margin-left: 10px;
}

.toast-top-right {
    top: 70px;
}

.toast-success {
    background-color: #46b8da;
}

#input-rate {
    width: 105px;
}

#process-bar {
    padding-top: 15px;
}

#process-bar div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#btn-start {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}