<div class="modal fade" id="modal-delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you really want to delete item!</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Issue name</strong>: {{ delItem.name }}
                </p>
                <p>
                    <strong>Time</strong>:
                    <small>
                        {{ delItem.timeStart | momentFlt }} - {{ delItem.timeFinish | momentFlt }}
                    </small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete(delItem.timeStart)">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->