<div class="modal fade" id="modal-edit">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit timer item.</h4>
            </div>
            <form action="" name="form_edit_timer">
                <div class="modal-body">
                    <p>
                        <strong>Time</strong>:
                        <small>
                            {{ editItem.timeStart | momentFlt }} - {{ editItem.timeFinish | momentFlt }}
                        </small>
                    </p>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Name: </span>
                        <input type="text" class="form-control" placeholder="Issue Name" ng-model="editItem.name" required>
                    </div>
                    <br/>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Rate: </span>
                        <input type="number" class="form-control" placeholder="Rate value" ng-model="editItem.rate" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-rub"></span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save()" ng-disabled="form_edit_timer.$invalid">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->