extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Timer Application
            .navbar-collapse.collapse
                div(ng-include="'/views/user/navbar-in.html'")
    section.content
        div(ng-view)
    footer.container.text-center
        p &copy; 2015 Test Angular Timer Application