<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="input-group input-group-lg" name="add_timer">
                <input type="text" class="form-control" placeholder="What your task name?" ng-model="issueName">
                <span class="input-group-btn">
                    <button class="btn btn-success" id="btn-start" type="button" ng-hide="isRun" ng-click="start()" ng-disabled="add_timer.$invalid">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button class="btn btn-danger" type="button" ng-show="isRun" ng-click="stop()" ng-disabled="add_timer.$invalid">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                </span>
            </form>
        </div>
    </div>
    <div class="row" id="process-bar" ng-show="isRun">
        <div class="col-md-4 col-md-offset-8">
            <span class="text-primary">
                <strong>Current timer: </strong>
            </span>
            <span class="text-danger">
                {{ currentTimerFormat }}
            </span>
            <span class="bg-success" id="current-timer-start">
                Start at: {{ currentStartTime }}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1 text-center">#</th>
                        <th class="col-md-5">Issue Name</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1">Rate/Sum</th>
                        <th class="col-md-1 text-center">Timer</th>
                        <th class="col-md-2 text-center">Start/Finish</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="timer in timers track by $index">
                        <td class="text-center">{{ $index + 1 }}</td>
                        <td>{{ timer.name }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="setEditItem(timer.timeStart)"
                                    data-toggle="modal" data-target="#modal-edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm" ng-click="setDelItem(timer.timeStart)"
                                    data-toggle="modal" data-target="#modal-delete">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                        </td>
                        <td>
                            <small>
                                {{ timer.rate }} <span class="glyphicon glyphicon-rub"></span> /
                                {{ timer.rate | sumFlt: timer.timeFinish - timer.timeStart }} <span class="glyphicon glyphicon-rub"></span>
                            </small>
                        </td>
                        <td class="bg-danger text-center">
                            <i>
                                {{ timer.timeStart | secondsToTime: timer.timeFinish}}
                            </i>
                        </td>
                        <td class="bg-info text-center">
                            <small>
                                {{ timer.timeStart | momentFlt }} - {{ timer.timeFinish | momentFlt }}
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/views/modals/delete.html'"></div>
<div ng-include="'/views/modals/edit.html'"></div>
