doctype html
html
    head
        title Angular timer
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        base(href="/")
    body(ng-app="app")
        block main-content
        include scripts