<div class="navbar-right" ng-controller="mainCtrl">
    <form class="navbar-form" action="">
        <div class="form-group has-success has-feedback">
            <input class="form-control" id="input-rate" type="number" min="1" placeholder="Rate Value" ng-model="rate"/>
            <span class="glyphicon glyphicon-rub form-control-feedback" aria-hidden="true"></span>
        </div>
    </form>
</div>
